{
	"server": false,
	"ui": false,
	"node_name": "{{ ansible_hostname }}",
	"datacenter": "{{ consul.datacenter }}",
	"retry_join": ["{{ consulServer.node1 }}", "{{ consulServer.node2 }}", "{{ consulServer.node3 }}"],
	"retry_interval": "30s",
	"retry_max": 0,
	"data_dir": "{{ consul.directories.data }}",
	"client_addr": "127.0.0.1",
	"ports": {
		"http": {{ consul.port.http }},
		"https": {{ consul.port.https }}
	},
	"bind_addr": "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
	"encrypt": "{{ consul.encrypt_str }}",
	"cert_file": "{{ consul.directories.cert }}/{{ consul.certfiles.crt }}",
	"key_file": "{{ consul.directories.cert }}/{{ consul.certfiles.key }}",
	"ca_file": "{{ consul.directories.cert }}/{{ consul.certfiles.ca }}",
	"verify_incoming": false,
	"verify_outgoing": true,
	"verify_server_hostname": false,
	"primary_datacenter": "{{ consul.datacenter }}",
	"acl_default_policy": "deny",
	"acl_down_policy": "extend-cache",
	"acl_token": "{{ consul.acl_token }}",
	"acl_ttl": "30s",
	"log_file": "{{ consul.directories.log }}/consul.log",
	"log_level": "info",
	"log_json": false,
	"log_rotate_bytes": 100000000,
	"log_rotate_duration": "24h",
	"log_rotate_max_files": 10,
	"rejoin_after_leave": true,
	"leave_on_terminate": true,
	"disable_remote_exec": true,
	"disable_update_check": true,
	"enable_local_script_checks": true,
	"enable_agent_tls_for_checks": true
}
