scheme_version: 1
server_url: https://{{ configuration.cluster_VIP }}:443
token: {{ configuration.token }}
os:
  ssh_authorized_keys:
{% for item in configuration.os.ssh_authorized_keys %}
    - sh-rsa {{ item }}
{% endfor %}
  hostname: {{ item.key }}
  modules:
{% for item in configuration.os.modules %}
    - {{ item }}
{% endfor %}
  dns_nameservers:
{% for item in configuration.os.dns_nameservers %}
    - {{ item }}
{% endfor %}
  ntp_servers:
{% for item in configuration.os.ntp_servers %}
    - {{ item }}
{% endfor %}
  password: {{ configuration.os.password }}
  environment:
    http_proxy: "{{ configuration.os.environment.http_proxy }}"
    https_proxy: "{{ configuration.os.environment.https_proxy }}"
  labels:
{% for key,value in configuration.os.labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
install:
  mode: {{ item.value.os.mode }}
  management_interface:
    interfaces:
{% for key in item.value.install.management_interface.interfaces %}
    - name: {{ key.name }}
      hwAddr: {{ key.hwAddr }}
{% endfor %}
    method: {{ configuration.install.management_interface.method }}
  force_efi: {{ configuration.install.force_efi }}
  device: {{ configuration.install.device }}
  silent: {{ configuration.install.silent }}
  poweroff: {{ configuration.install.poweroff }}
  no_format: {{ configuration.install.no_format }}
  debug: {{ configuration.install.debug }}
  tty: {{ configuration.install.tty }}
  vip: {{ configuration.install.vip }}
  vip_hw_addr: {{ configuration.install.vip_hw_addr }}
  vip_mode: {{ configuration.install.vip_mode }}
  force_mbr: {{ configuration.install.force_mbr }}
system_settings:
  auto-disk-provision-paths: "{{ configuration.system_settings.auto_disk_provision_paths }}"
