[WebService]
Origins = https://{{ inventory_hostname_short }}:{{ webSocket.cockpitSocket }} https://{{ inventory_hostname_short }}.my.private.repo.{{ ansible_facts.dns.domain }} wss://{{ inventory_hostname_short }}.my.private.repo.{{ ansible_facts.dns.domain }}
ProtocolHeader = X-Forwarded-Proto
